body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  body div.container {
    width: 90%;
    padding: 30px;
    margin: auto;
  }
  body div.container div {
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    min-width: 700px;
    padding: 5%;
  }
  body div.container div form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body div.container div form fieldset {
    position: relative;
    display: inline-flex;
    margin: 20px;
    padding: 20px;
    min-width: 660px;
  }
  body div.container div form fieldset legend {
    font-size: 1.4em;
    padding: 10px;
  }
  body div.container div form fieldset input {
    height: 30px;
    width: 50%;
    min-width: 180px;
    margin-right: 30px;
  }
  #choix {
    width:200px;
  }

  #choix input {
      min-width: 20px;
  }

  #choix p {
      position: relative;
      right:45px;
      bottom: 5px;
  }

  .validationFinale {
      width: 30%;
      height:30px;
  }

  button {
    width: 20%;
  }