body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    justify-content: center;
    box-sizing: border-box;
    .container{
        display: flex;
        width: 80%;
        left: 200px;
        nav{            
            width: 350px;
            height: min-content;
            margin-top: 20px;
            z-index: 10;
            
            >div{
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: white;
                box-shadow: -7px 7px 5px rgb(119, 115, 115);
                >div{
                    display: flex;
                    justify-content: right;
                    p{
                        font-size: 0.8em;
                        text-align: left;
                    }
                }
                
                
                &:nth-child(1){
                    z-index: 10 ;
                    margin-bottom: 20px;        
                }
                &:nth-child(2){
                    background-color: silver;
                    z-index: -1;
                }
                h3{
                    margin-left: 10px;
                    padding: 0;
                }
                p{
                    margin: 10px 15px;
                }

            }

        }
        section{
            width: 60%;
            margin: 20px 20px 20px 0;
            box-shadow: -7px 10px 5px rgb(119, 115, 115);
            background-color: white;
            padding: 30px;
            z-index: 8;
            position: relative;
            article{
                width: 100%;
                height: min-content;
                min-height: 400px;
                margin-bottom: 20px;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: flex-start;
                h2{
                    height: 60px;
                    border-bottom: 2px solid black;
                }
                &.user{
                    display: none;

                    
                }
                &.changeData{
                    display: flex;
                    >div{
                    display: flex;
                    flex-direction: column;
                    &.formUser{

                        
                        form{
                            margin: 20px;
                            fieldset{
                                margin: 20px 0;
                                height: 80px;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                padding: 20px;
                                
                                legend{
                                    font-size: 1.3em;
                                }
                                input{
                                    width: 45%;
                                    height: 40px;
                                    margin: 10px;
                                    padding: 5px;
                                    
                                }
                            }
                            button{
                                height: 40px;
                                width: 40%;
                                margin: auto;
                                border: 3px solid black;
                                background-color: rgb(226, 43, 43);
                                color: white;
                                font-size: 1em;
                                &:hover{
                                    cursor: pointer;
                                }
                                
                            }
                        }
                    }
                    &.formAdress{
                        box-sizing: border-box;
                        form{
                            margin: 20px;
                            fieldset{
                                margin: 20px 0;
                                padding: 0;
                                display: flex;
                                height: 150px;
                                position: relative;
                                
                                legend{
                                    font-size: 1.3em;
                                }
                                div{
                                    display: flex;
                                    width: 100%;
                                    flex-direction: column;
                                    height: auto;
                                    align-items: center;
                                    margin: 20px;
                                    input{
                                        width: 95%;
                                        min-height: 30px;
                                        height: 40px; 
                                        margin-top: 10px;
                                        font-size: 1em;
                                        
                                    }
                                    ul{ 
                                        margin: 0;
                                        padding: 0;
                                        list-style: none;
                                        height: auto;
                                        width: 96%;
                                        z-index: 10;
                                        background-color: white;
                                        
                                        li{
                                            padding: 10px 0;
                                            padding-left: 10px;
                                            border: 1px solid black;
                                            &:hover{
                                                background-color: rgb(240, 240, 240);
                                                border-left: 5px solid skyblue;
                                                cursor: pointer;
                                            }
                                                
    
                                        }
                                    }
                                }
                            }
                            button{
                                height: 40px;
                                width: 40%;
                                margin: auto;
                                border: 3px solid black;
                                background-color: rgb(226, 43, 43);
                                color: white;
                                font-size: 1em;
                                &:hover{
                                    cursor: pointer;
                                }
                                
                            }
                        }

                    }
                    }
                }
                &.shop{
                    display: none;
                }
                &.changePayment{
                    display: none;
                }
                h1{
                    font-size: 2em;

                }
            }


        }
    }
}