$primary-color: #2e2e3f;
$primary-light: #57576a;
$primary-dark: #050319;
$color-primary: #ffffff;

$secondary-color: #d6b337;
$secondary-dark: #a18400;
$secondary-light: #ffe569;
$color-secondary: #000000;