@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #57576a;
}
body .container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
body .container header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #2e2e3f;
  color: #ffffff;
  height: auto;
  padding-top: 20px;
}
body .container header a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}
body .container header a:hover {
  border-color: white;
}
body .container header .logo {
  width: 20%;
  display: flex;
}
body .container header .logo a {
  border: none;
}
body .container header .logo a figcaption {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
body .container header .logo a figcaption p {
  margin: 0;
  padding: 0;
}
body .container header .main-header {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .container header .main-header .searchbar {
  width: 55%;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 35%;
}
body .container header .main-header .searchbar form {
  display: flex;
  width: 100%;
  height: 40px;
}
body .container header .main-header .searchbar form input {
  width: 80%;
  font-size: 1.1em;
  padding-left: 5px;
}
body .container header .main-header .searchbar img {
  max-width: 20px;
  height: auto;
}
body .container header .main-header .nav-user {
  color: #ffffff;
  width: 40%;
  max-height: 100px;
  min-width: 400px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
body .container header .main-header .nav-user > div {
  display: inline;
}
body .container header .main-header .nav-user > div.lang {
  width: 70px;
  max-height: 40px;
  background-color: #2e2e3f;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
  z-index: 10;
  cursor: pointer;
}
body .container header .main-header .nav-user > div.lang .langue {
  max-height: 50px;
  min-height: 40px;
}
body .container header .main-header .nav-user > div.lang .langue img {
  max-height: 30px;
  justify-content: center;
  align-content: center;
}
body .container header .main-header .nav-user > div.lang .selec-lang {
  background-color: white;
  position: relative;
  top: 0px;
  min-width: 70px;
  width: 110px;
}
body .container header .main-header .nav-user > div.lang a {
  color: black;
  font-weight: bold;
}
body .container header .main-header .nav-user > div.lang ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: auto;
  flex-direction: column;
}
body .container header .main-header .nav-user > div.lang ul li {
  display: flex;
  padding: 10px 0;
  margin: auto;
  min-width: 70px;
  min-height: 30px;
  width: 110px;
  justify-content: center;
  border-left: 8px solid transparent;
}
body .container header .main-header .nav-user > div.lang ul li:hover {
  border-color: #ffe569;
  background-color: #ffffff;
}
body .container header .main-header .nav-user > div.lang ul a {
  color: black;
  font-weight: bold;
}
body .container header .main-header .nav-user > div.lang img {
  width: 45px;
  height: auto;
}
body .container header .main-header .nav-user a {
  color: white;
  margin: 0;
}
body .container header .main-header .nav-user object {
  background-size: cover;
  width: auto;
  height: 30px;
  filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(169deg) brightness(102%) contrast(103%);
}
body .container header .main-header .nav-user img {
  height: 30px;
  width: auto;
  padding: 0;
}
body .container header nav {
  display: flex;
  width: 100%;
  height: 90px;
  flex-wrap: wrap;
}
body .container header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  margin: 0;
  padding: 0;
}
body .container header nav ul a {
  margin: 20px;
  min-width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  line-height: 42px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
body .container header nav ul a:hover {
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}
body .container header nav ul a:hover:before {
  width: 100%;
  height: 2px;
  transition: 800ms ease all;
}
body .container header nav ul a:hover::after {
  width: 100%;
  height: 2px;
  transition: 800ms ease all;
}
body .container header nav ul a:hover li {
  color: #d6b337;
}
body .container header nav ul a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #d6b337;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
  transition: 400ms ease all;
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
body .container header nav ul a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #d6b337;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
body .container header nav ul a li {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  text-align: center;
}
body .container footer {
  background-color: #2e2e3f;
  color: #ffffff;
}
body .container footer a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}
body .container footer a:hover {
  border-color: white;
}
body .container footer .pied_de_page {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px;
}
body .container footer .pied_de_page > div {
  margin: 15px;
}
body .container footer .pied_de_page > div.langue {
  width: 50px;
}
body .container footer .pied_de_page > div.langue img {
  max-width: 17px;
  height: auto;
}
body .container footer .pied_de_page > div.mentions_conditions {
  min-width: 400px;
  display: inline-flex;
  justify-content: space-between;
}
body .container footer .pied_de_page > div.reseaux_sociaux {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #57576a;
  margin: 0;
}
body .container footer .pied_de_page > div.reseaux_sociaux h3 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper {
  font-family: "Poppins", sans-serif;
  display: inline-flex;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 6px;
  height: 6px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .icon:hover .tooltip {
  top: -55px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .icon:hover span {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .tooltip:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .facebook {
  background-color: #3b5999;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .facebook:hover .tooltip {
  background-color: #3b5999;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .twitter {
  background-color: #46c1f6;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .twitter:hover .tooltip {
  background-color: #46c1f6;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .instagram {
  background-color: #e1306c;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .instagram:hover .tooltip {
  background-color: #e1306c;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .youtube {
  background-color: #de463b;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .youtube:hover .tooltip {
  background-color: #de463b;
  color: #ffffff;
}
body .container footer .pied_de_page > div.reseaux_sociaux .wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
